/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial Rounded MT Bold', 'Poppins', sans-serif;
  height: 100vh;
  background: linear-gradient(to bottom, #f8ecb3 60%, #fbcab1);
  color: white;
  text-align: center;
  overflow: hidden;
}

/* Header Section */
.header {
  height: 100px;
  background-color: #f8e28e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

/* Logo + Stripes */
.logo {
  position: absolute;
  top: 10px;
  left: 20px;
}

.logo-text {
  font-size: 36px;
  line-height: 0.9;
  font-weight: bold;
  color: black;
  mix-blend-mode: multiply;
}

.stripes {
  position: absolute;
  top: 0;
  left: 45px;
  width: 150px;
  height: 100%;
  background: linear-gradient(135deg, 
    rgba(255, 101, 101, 0.4) 0%, 
    rgba(255, 200, 138, 0.4) 25%, 
    rgba(182, 255, 182, 0.4) 50%, 
    rgba(138, 215, 255, 0.4) 75%);
  z-index: -1;
}

/* Content */
.content {
  position: absolute;
  top: 140px;
  width: 100%;
  text-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.content h2 {
  font-size: 20px;
  letter-spacing: 3px;
  margin-bottom: 20px;
  font-weight: 400;
}

.content h1 {
  font-size: 64px;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 3px;
  color: white;
  -webkit-text-stroke: 2px white;
}
